  <div flex layout="row" ng-controller="AdminController as admin">
  	<md-tabs id="adminTabs" md-dynamic-height md-border-bottom md-stretch-tabs="always" md-selected="admin.selectedTab">
  		<md-tab label="facilities" md-on-select="admin.tabSelected(0)">
  			<md-content class="md-padding">
  				<md-list>
  					<md-list-item>{{facility.name}}
  						<md-input-container style="width: 100%">
  							<input  ng-model="admin.newFacility" placeholder="Enter a new facility name" aria-label="Enter a new facility name">
  						</md-input-container>
  						<md-button ng-if="$mdMedia('gt-xs')" style="height: 38px" class="md-primary md-raised md-secondary" ng-click="admin.addFacility()">Add</md-button>
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.addFacility()" class="md-fab md-primary md-secondary" >
  							<md-tooltip>Add Facility</md-tooltip>
  							<md-icon md-svg-icon="add"></md-icon>
  						</md-button> 	                	   
  					</md-list-item>              
  					<md-list-item class="secondary-button-padding"  ng-repeat="facility in admin.facilities | orderBy: 'name'"  ng-click="null">{{facility.name}}
  						<md-button ng-if="$mdMedia('gt-xs')" class="md-warn md-raised md-secondary" ng-click="admin.showConfirm($event, 'facility', 'name', facility)">Delete</md-button>	
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.showConfirm($event, 'facility', 'name', facility)" class="md-icon-button md-warn md-secondary" >
  							<md-tooltip>Delete Facility</md-tooltip>
  							<md-icon md-svg-icon="delete"></md-icon>
  						</md-button>  
  					</md-list-item>
  				</md-list>
  			</md-content>          
  		</md-tab>
  		<md-tab label="programs" md-on-select="admin.tabSelected(0)">
  			<md-content class="md-padding">
  				<md-list>
  					<md-list-item>{{program.name}}
  						<md-input-container style="width: 100%">
  							<input  ng-model="admin.newProgram" placeholder="Enter a new program name" aria-label="Enter a new program name">
  						</md-input-container>
  						<md-button ng-if="$mdMedia('gt-xs')" style="height: 38px" class="md-primary md-raised md-secondary" ng-click="admin.addProgram()">Add</md-button>
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.addProgram()" class="md-fab md-primary md-secondary" >
  							<md-tooltip>Add Program</md-tooltip>
  							<md-icon md-svg-icon="add"></md-icon>
  						</md-button> 	                	   
  					</md-list-item>              
  					<md-list-item class="secondary-button-padding"  ng-repeat="program in admin.programs | orderBy: 'name'"  ng-click="null">{{program.name}}
  						<md-button ng-if="$mdMedia('gt-xs')" class="md-warn md-raised md-secondary" ng-click="admin.showConfirm($event, 'program', 'name', program)">Delete</md-button>	
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.showConfirm($event, 'program', 'name', program)" class="md-icon-button md-warn md-secondary" >
  							<md-tooltip>Delete Program</md-tooltip>
  							<md-icon md-svg-icon="delete"></md-icon>
  						</md-button>  
  					</md-list-item>
  				</md-list>
  			</md-content>          
  		</md-tab>
  		<md-tab label="services" md-on-select="admin.tabSelected(0)">
  			<md-content class="md-padding">
  				<md-list>{{admin.newServiceValue}}
  					<md-list-item class="secondary-button-padding">
  						<md-input-container style="width: 100%">
  							<input  ng-model="admin.newServiceName" placeholder="Enter a new service name" aria-label="Enter a new service name">
  						</md-input-container>
  						<md-input-container>
  							<input class="value-input" type="number"  ng-model="admin.newServiceValue" placeholder="Enter a new service value" aria-label="Enter a new service value" class="value-input" >
  						</md-input-container><em class="percent">%</em>	
  						<md-button ng-if="$mdMedia('gt-xs')" style="height: 38px" class="md-primary md-raised md-secondary" ng-click="admin.addService()">Add</md-button>
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.addService()" class="md-fab md-primary md-secondary" >
  							<md-tooltip>Add Service</md-tooltip>
  							<md-icon md-svg-icon="add"></md-icon>
  						</md-button>  			                	   
  					</md-list-item>				        
  					<md-list-item class="secondary-button-padding" ng-repeat="service in admin.services | orderBy: 'name'" ng-click="">
  						<md-input-container style="width: 100%">
  							<input  ng-model="service.name" aria-label="{{service.name}}">
  						</md-input-container>
  						<md-input-container>
  							<input type="number" class="value-input"   ng-model="service.value" aria-label="{{service.value}}">
  						</md-input-container><em class="percent">%</em>
  						<md-button ng-if="$mdMedia('gt-xs')" style="height: 38px" class="md-primary md-raised md-secondary" ng-click="admin.updateService(service)">Update</md-button>	
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.updateService(service)" class="md-icon-button md-warn md-secondary" >
  							<md-tooltip>Update Service</md-tooltip>
  							<md-icon md-svg-icon="update"></md-icon>
  						</md-button>  			                		                
  						<md-button ng-if="$mdMedia('gt-xs')" style="height: 38px" class="md-warn md-raised md-secondary" ng-click="admin.showConfirm($event, 'service', 'name', service, target)">Delete</md-button>	
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.showConfirm($event, 'service', 'name', service, target)" class="md-icon-button md-warn md-secondary" >
  							<md-tooltip>Delete Service</md-tooltip>
  							<md-icon md-svg-icon="delete"></md-icon>
  						</md-button>  
  						
  					</md-list-item>	
  				</md-list>
  			</md-content>          
  		</md-tab>
  		<md-tab label="personnel types" md-on-select="admin.tabSelected(2)">
  			<md-content class="md-padding">
  				<md-list>
  					<md-list-item class="secondary-button-padding">{{job.name}}
  						<md-input-container style="width: 100%">
  							<input  ng-model="admin.newJob" placeholder="Enter a new personnel type">
  						</md-input-container>
  						<md-button ng-if="$mdMedia('gt-xs')" style="height: 38px" class="md-primary md-raised md-secondary" ng-click="admin.addJob()">Add</md-button>	   
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.addJob()" class="md-fab md-primary md-secondary" >
  							<md-tooltip>Add Job</md-tooltip>
  							<md-icon md-svg-icon="add"></md-icon>
  						</md-button>  
  					</md-list-item>              
  					<md-list-item class="secondary-button-padding" ng-repeat="job in admin.jobs | orderBy: 'name'" ng-click="null">{{job.name}}
  						<md-button ng-if="$mdMedia('gt-xs')" class="md-warn md-raised md-secondary" ng-click="admin.showConfirm($event, 'job', 'name', job)">Delete</md-button>	
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.showConfirm($event, 'job', 'name', job)" class="md-icon-button md-warn md-secondary" >
  							<md-tooltip>Delete Job</md-tooltip>
  							<md-icon md-svg-icon="delete"></md-icon>
  						</md-button>  
  					</md-list-item>
  				</md-list>
  			</md-content>          
  		</md-tab>
  		<md-tab label="users" md-on-select="admin.tabSelected(3)">
  			<md-content class="md-padding">
  				<md-list>            
  					<md-list-item class="secondary-button-padding" ng-repeat="user in admin.users | orderBy: 'email'">{{user.email}}
  						<md-checkbox class="md-secondary" ng-model="user.admin" aria-label="Is this a new program?" ng-change="admin.changeAdmin(user)">
  							Admin?
  						</md-checkbox>              	
  						<md-button ng-if="$mdMedia('gt-xs')" class="md-warn md-raised md-secondary" ng-click="admin.showConfirm($event, 'user', 'email', user)">Delete</md-button>	
  						<md-button ng-if="$mdMedia('xs')" ng-click="admin.showConfirm($event, 'user', 'email', user)" class="md-icon-button md-warn md-secondary" >
  							<md-tooltip>Delete User</md-tooltip>
  							<md-icon md-svg-icon="delete"></md-icon>
  						</md-button>        
  					</md-list-item>      		
  				</md-list>
  			</md-content>          
  		</md-tab>                          
  	</md-tabs>

  </div>
  
