<div flex layout="row" layout-align="center center" ng-controller="ForgotController as forgot">
	<form class="user-form" ng-submit="forgot.forgot(forgot.email)" novalidate>
		<p class="md-subhead" style="text-align: center">Enter your email address and instructions will be<br/>  emailed detailing how to reset your password.</p>
		<br/>
		<md-input-container class="md-block" >
			<label>Email</label>
			<input type="email" name="email" ng-required="true" ng-model="forgot.email"  placeholder="Enter your email address">
		</md-input-container>
		<md-button type="submit" class="md-primary md-raised" ng-click="expression">submit</md-button>
	</form>
</div>