<div flex layout="row" layout-align="center center" ng-controller="LoginController as login">
	<form class="user-form" ng-submit="login.login(login.credentials)">
		<md-input-container class="md-block" >
			<label>Email</label>
			<input type="email" ng-required="true" ng-model="login.credentials.email">
		</md-input-container>
		<md-input-container class="md-block" >
			<label>Password</label>
			<input type="password" ng-required="true" ng-model="login.credentials.password" >
		</md-input-container>
		<md-button type="submit" class="md-primary md-raised">login</md-button>
		<br/>
		<span>Do not already have an account?</span>
		<md-button class="md-primary" href="#/signup">sign up</md-button><br/>
		<md-button class="md-primary" href="#/forgot">forgot password?</md-button>    
	</form>
</div>