  <div flex layout="row" ng-controller="MainController as app">
    <!-- Container #3 -->
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
    md-component-id="left" ng-click="app.toggleList()">
    <md-list>
      <md-list-item>
        <span>Revenue Estimate</span>
        <span class="md-secondary">{{app.calcRevenue() | currency:"$"}}</span>
      </md-list-item>
      <md-list-item>
        <span>Cost Estimate</span>
        <span class="md-secondary">{{app.calcCost() | currency:"$"}}</span>
      </md-list-item>
      <md-list-item>
        <span>Cost Recovery (target)</span>
        <span ng-hide="app.checkNaN(app.data.service.value)" class="md-secondary">{{(app.data.service.value * 100).toFixed(0)}}%</span>
        <span ng-show="app.checkNaN(app.data.service.value)" class="md-secondary">--</span>            
      </md-list-item> 
      <md-list-item>
        <span>Cost Recovery (projected)</span>
        <span ng-hide="app.checkNaN(app.revenueEstimate / app.costEstimate)" class="md-secondary">{{((app.revenueEstimate / app.costEstimate) * 100).toFixed(0)}}%</span>
        <span ng-show="app.checkNaN(app.revenueEstimate / app.costEstimate)" class="md-secondary">--</span>          
      </md-list-item>   
    </md-list>
    <md-toolbar ng-hide="infoForm.$invalid || revenueForm.$invalid || costForm.$invalid " layout="row" ng-class="{'md-warn': (app.revenueEstimate / app.costEstimate) < app.data.service.value || app.checkNaN(app.revenueEstimate / app.costEstimate) || app.checkNaN(app.data.service.value), 'md-primary': (app.revenueEstimate / app.costEstimate) >= app.data.service.value}">
      <div class="md-toolbar-tools">
        <span>{{((app.revenueEstimate / app.costEstimate) < app.data.service.value) || app.checkNaN(app.revenueEstimate / app.costEstimate) || app.checkNaN(app.data.service.value) ? 'Needs Review' : 'Proceed'}}</span>
      </div>
    </md-toolbar>
    <md-toolbar ng-show="infoForm.$invalid || revenueForm.$invalid || costForm.$invalid " layout="row" class="md-warn">
      <div class="md-toolbar-tools">
        <span ng-show="infoForm.$invalid || revenueForm.$invalid || costForm.$invalid ">Incomplete</span>
      </div>
    </md-toolbar>      
    <br/>
    <div>
      <md-button style="width:95%" ng-disabled="infoForm.$invalid || revenueForm.$invalid || costForm.$invalid || (app.user.email != app.data.preparer ) && !app.user.admin || app.data.personnel.length < 1" class="md-primary md-raised" ng-click="app.submit()">{{app.id ? 'Update': 'Submit'}}</md-button>
      <md-tooltip ng-if="infoForm.$invalid || revenueForm.$invalid || costForm.$invalid  || (app.user.email != app.data.preparer ) && !app.user.admin">{{app.user.email != app.data.preparer ? 'You cannot edit an entry you did not create' : 'All required fields must be entered before submitting'}}</md-tooltip>
    </div>
    <div>
      <md-button style="width:95%" class="md-warn md-raised" ng-click="app.clear()">Clear</md-button>       
    </div>
  </md-sidenav>

  <!-- Container #4 -->
  <md-content flex id="content">
    <div ng-cloak>
      <md-content>
          <md-tabs md-dynamic-height md-border-bottom md-selected="app.selectedTab">
            <md-tab label="instructions">
              <md-content class="md-padding">
                <h2 style="font-weight: normal">Welcome {{app.user.email}}</h2>
                <h3>PRCR Experience Pricing Form Instructions</h3>
                <p>The purpose of the PRCR Experience Pricing Form is to determine program fees that will reach cost recovery goals.  Cost recovery goals are based on a program’s category of service and the benefit to the community or individual.</p>
                <p><em>Below are a few tips before you begin to use this form:</em></p>
                <ul>
                  <li>You must know the Category of Service of the program you are pricing</li>
                  <li>Remember all revenue and costs are based on minimums</li>
                  <li>You should always include personnel cost, even if a full time staff member is teaching.  There is still a cost for their time.</li>
                  <li>Make sure you click submit when you are complete.</li>
                </ul>
                <div layout="row" layout-wrap>           
                  <md-button class="md-primary" type="button" ng-click="app.nextTab()">Next >></md-button>              
                </div>              
              </md-content>
            </md-tab>
            <md-tab label="general information" md-on-select="app.tabSelected()">
              <md-content>
              <form name="infoForm">
                <md-input-container class="md-block" >
                  <label>Program Area</label>
                  <md-select name="programArea" ng-required="true" ng-model="app.data.programArea" ng-change="app.programSelected = true" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin"  ng-init="app.initInput($element)">

                    <md-option ng-repeat="program in app.programs | orderBy: 'name'" ng-value="program">
                      {{program.name}}
                    </md-option>
                  </md-select>
                  <div ng-messages="infoForm.programTitle.$error" ng-if="infoForm.programArea.$error">
                    <div ng-message="required" ng-if="infoForm.programArea.$error.required">This is required!</div>
                  </div>                     
                </md-input-container>

                <md-input-container class="md-block" >
                  <label>Program Title</label>
                  <input name="programTitle" required ng-model="app.data.title" placeholder="What is your program called?" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin" md-minlength="10"/>
                  <div ng-messages="infoForm.programTitle.$error" ng-if="infoForm.programTitle.$error">
                    <div ng-message="required" ng-if="infoForm.programTitle.$error.required">This is required!</div>
                  </div>                  
                </md-input-container>
                <md-input-container class="md-block" >
                  <label>Category of Service</label>
                  <md-select name="category" ng-required="true" ng-model="app.data.service">
                    <md-option ng-repeat="service in app.services | orderBy: 'name'" ng-value="service">
                      {{service.name}}
                    </md-option>
                  </md-select>
                  <div ng-messages="infoForm.category.$error" ng-if="infoForm.category.$error">
                    <div ng-message="required" ng-if="infoForm.category.$error.required">This is required!</div>
                  </div>                     
                </md-input-container>
                <md-checkbox ng-model="app.data.cityFacility" aria-label="Is this a City facility?" ng-change="app.data.facility = null" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                  Is this a City facility?
                </md-checkbox>              
                <md-input-container ng-if="app.data.cityFacility" class="md-block" >
                  <label>Facility Name</label>
                  <md-select name="facility" ng-required="true" ng-model="app.data.facility" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">

                    <md-option ng-repeat="facility in app.facilities | orderBy: 'name'" ng-value="facility">
                      {{facility.name}}
                    </md-option>
                  </md-select>  
                  <div ng-messages="infoForm.facility.$error" ng-if="infoForm.facility.$error">
                    <div ng-message="required" ng-if="infoForm.facility.$error.required">This is required!</div>
                  </div>                                      
                </md-input-container>
                <md-input-container ng-if="!app.data.cityFacility" class="md-block" >
                  <label>Facility Name</label>
                  <input name="facilityName" ng-required="true" ng-model="app.data.facility.name" placeholder="Enter the facility name" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                  <div ng-messages="infoForm.facilityName.$error" ng-if="infoForm.facilityName.$error">
                    <div ng-message="required" ng-if="infoForm.facilityName.$error.required">This is required!</div>
                  </div>                     
                </md-input-container>                
                <md-input-container class="md-block">
                  <label>Start Date</label>
                  <md-datepicker name="startDate" ng-required="true" ng-model="app.data.start" name="dateField" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin"></md-datepicker>
                  <div ng-messages="infoForm.startDate.$error" ng-if="infoForm.startDate.$error">
                    <div ng-message="required" ng-if="infoForm.startDate.$error.required">This is required!</div>
                  </div>                     
                </md-input-container>
                <md-input-container class="md-block" >
                  <label>Comments</label>
                  <input ng-model="app.data.comments" placeholder="Enter any comments" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                </md-input-container>
                <md-input-container class="md-block" >
                  <label>Prepared By</label>
                  <input ng-disabled="true" ng-model="app.data.preparer"  ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                </md-input-container>  
                </form>                
              </md-content>
              <div layout="row" layout-wrap>
                <md-button class="md-primary" type="button" ng-click="app.backTab()"><< Back</md-button>
                <div>               
                  <md-button ng-disabled="infoForm.$invalid" class="md-primary" type="button" ng-click="app.nextTab()">Next >></md-button>
                  <md-tooltip ng-if="infoForm.$invalid">All required inputs are not set for this tab</md-tooltip>
                </div>                          
              </div> 
        
            </md-tab>
            <md-tab label="revenue estimates" ng-disabled="infoForm.$invalid" ng-on-select="app.tabSelected()">
              <md-content class="md-padding">
              <form name="revenueForm">              
                <div flex-gt-sm="50" layout="row">
                  <md-checkbox ng-model="app.data.newProgram" aria-label="Is this a new program?" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                    Is this a new program?
                  </md-checkbox>
                  <md-checkbox ng-model="app.data.full" aria-label="Is this program usually full?" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                    Is this program usually full?
                  </md-checkbox>                
                </div>           
                <h2>Program Length</h2>
                <md-input-container>
                  <label>Hours Per Week</label>
                  <input name="hoursPerWeek" ng-required="true" ng-min="0" type="number" ng-model="app.data.hours" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                  <div ng-messages="revenueForm.hoursPerWeek.$error" ng-if="revenueForm.hoursPerWeek.$error">
                    <div ng-message="required" ng-if="revenueForm.hoursPerWeek.$error.required">This is required!</div>
                  </div>                      
                </md-input-container>

                <md-input-container class="">
                  <label>Length of Program in Weeks</label>
                  <div layout="row">
                    <div flex>
                      <input name="length" ng-pattern="/^\d+$/" ng-required="true" ng-min="0" type="number" ng-model="app.data.weeks" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                      <div ng-messages="revenueForm.length.$error" ng-if="revenueForm.length.$error">
                        <div ng-message="required" ng-if="revenueForm.length.$error.required">This is required!</div>
                      </div>                       
                    </div>
                    <div flex>
                      <md-button class="md-icon-button" >
                        <md-tooltip>for 1-day classes, the length of the class should be 1 week</md-tooltip>
                        <md-icon md-svg-icon="feedback"></md-icon>
                      </md-button>
                    </div>
                  </div>
                </md-input-container>
                <div>  
                  <strong>Total Hours</strong>
                  <span ng-hide="app.checkNaN(app.data.weeks * app.data.hours)">{{app.data.weeks * app.data.hours}}</span>
                  <span ng-show="app.checkNaN(app.data.weeks * app.data.hours)">--</span>        
                </div>  
                <h2>Participants Estimate</h2>
                <md-input-container class="" >
                  <label>Minimum # of Participants</label>
                  <input name="minPart" ng-pattern="/^\d+$/" ng-required="true" ng-min="0" type="number" ng-model="app.data.minParticipants" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                  <div ng-messages="revenueForm.minPart.$error" ng-if="revenueForm.minPart.$error">
                    <div ng-message="required" ng-if="revenueForm.minPart.$error.required">This is required!</div>
                  </div>                     
                </md-input-container>
                <md-input-container class="" >
                  <label>Maximum # of Participants</label>
                  <input name="maxPart" ng-pattern="/^\d+$/" ng-required="true" ng-min="0" type="number" ng-model="app.data.maxParticipants" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                  <div ng-messages="revenueForm.maxPart.$error" ng-if="revenueForm.maxPart.$error">
                    <div ng-message="required" ng-if="revenueForm.maxPart.$error.required">This is required!</div>
                  </div>                     
                </md-input-container>
                <h2>Fee Estimate</h2>
                <md-input-container class="" >
                  <label>Resident Rate</label>
                  <md-icon md-svg-icon="dollar" class="email"></md-icon>
                  <input name="feeEst" ng-required="true" ng-min="0" ng-change="app.residentialRateChanged(app.data.residentialRate)" type="number" ng-model="app.data.residentialRate" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                  <div ng-messages="revenueForm.feeEst.$error" ng-if="revenueForm.feeEst.$error">
                    <div ng-message="required" ng-if="revenueForm.feeEst.$error.required">This is required!</div>
                  </div>                    
                </md-input-container>
                <div>  
                  <label>Non-Resident Rate</label>
                  <span>{{app.data.nonResidentialRate | currency: '$'}}</span>
                </div>              
                <h2>Alternative Revenue Source</h2>              
                <md-input-container class="md-block" >
                  <label>Description</label>
                  <input ng-model="app.data.altRevDesc" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                </md-input-container>

                <md-input-container class="" >
                  <label>Amount</label>
                  <md-icon md-svg-icon="dollar" class="email"></md-icon>                  
                  <input ng-min="0" type="number" ng-model="app.data.altRevAmt" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                </md-input-container>
                <div layout="row" layout-wrap>
                  <md-button class="md-primary" type="button" ng-click="app.backTab()"><< Back</md-button>
                  <div>             
                    <md-button ng-disabled="revenueForm.$invalid" class="md-primary" type="button" ng-click="app.nextTab()">Next >></md-button> 
                    <md-tooltip ng-if="revenueForm.$invalid">All required inputs are not set for this tab</md-tooltip>
                  </div>
                </div>
              </form>                
              </md-content>
            </md-tab>
            <md-tab label="cost estimates" ng-disabled="revenueForm.$invalid">
              <md-content class="md-padding">
                <form name="costForm">
                <h2>Supplies</h2>
                <md-input-container class="md-block" >
                  <label>Description</label>
                  <input ng-model="app.data.supplyDesc" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                </md-input-container>
                <md-input-container class="md-block" >
                  <label>Supply Cost Type</label>
                  <md-select name="costType" ng-required="app.data.supplyAmt" ng-model="app.data.supplyType" ng-change="app.supplyTypeChanged()">
                    <md-option><em>None</em></md-option>
                    <md-option ng-repeat="type in app.supplyTypes" ng-value="type">
                      {{type}}
                    </md-option>
                  </md-select>
                  <div ng-messages="costForm.costType.$error" ng-if="costForm.costType.$error">
                    <div ng-message="required" ng-if="costForm.costType.$error.required">This is required!</div>
                  </div>                       
                </md-input-container>                
                <md-input-container class="" >
                  <label>Amount</label>
                    <md-icon md-svg-icon="dollar"></md-icon>
                    <input name="costAmt" ng-required="app.data.supplyType" ng-min="0" type="number" ng-model="app.data.supplyAmt" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                    <div ng-messages="costForm.costAmt.$error" ng-if="costForm.costAmt.$error">
                      <div ng-message="required" ng-if="costForm.costAmt.$error.required">This is required!</div>
                    </div>                     
                  </md-input-container>
                <h2>Personnel Types</h2>
                <md-card ng-repeat="type in app.data.personnel | orderBy: 'name'" class="personnelCard">
                  <md-toolbar md-scroll-shrink ng-if="true">
                    <div class="md-toolbar-tools">
                      <h3 ng-click="app.togglePersonnel(type, $index)">
                        <span>{{type.title}} <span ng-if="type.count">({{type.count}})</span> <span ng-if="type.cost">- {{type.cost | currency: '$'}}</span></span>
                      </h3>
                      <span flex></span>
                      <md-button class="md-icon-button" ng-click="app.togglePersonnel(type, $index)">
                        <md-icon md-svg-icon="up" class="arrow" ng-class="{'rotated': type.visible, 'not-rotated': !type.visible}" ng-animate="{enter: 'rotate', leave: 'not-rotated'}"  ></md-icon>
                      </md-button>        
                    </div>
                  </md-toolbar>
                  <div ng-if="type.visible" class="personnelContent"">  
                    <md-card-content>
                      <md-input-container class="md-block" >
                        <label>Job Title</label>
                        <md-select name="jobTitle{{$index}}" ng-required="true" ng-model="app.data.personnel[$index].title" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">

                          <md-option ng-repeat="job in app.jobs" ng-value="job.name">
                            {{job.name}}
                          </md-option>
                        </md-select>
                        <div ng-messages="costForm['jobTitle' + $index].$error" ng-if="costForm['jobTitle' + $index].$error">
                          <div ng-message="required" ng-if="costForm['jobTitle' + $index].$error.required">This is required!</div>
                        </div>                         
                      </md-input-container>
                      <md-input-container class="md-block" >
                        <label>Pay Type</label>
                        <md-select name="payType{{$index}}" ng-required="true" ng-model="app.data.personnel[$index].payType" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">

                          <md-option ng-repeat="type in app.payTypes" ng-value="type.name">
                            {{type.name}}
                          </md-option>
                        </md-select>
                        <div ng-messages="costForm['payType' + $index].$error" ng-if="costForm['payType' + $index].$error">
                          <div ng-message="required" ng-if="costForm['payType' + $index].$error.required">This is required!</div>
                        </div>                          
                      </md-input-container>
                      <md-input-container class="md-block" >
                        <label>Status</label>
                        <md-select name="status{{$index}}" ng-required="true" ng-model="app.data.personnel[$index].status" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                          <md-option ng-repeat="status in app.statuses" ng-value="status.name">
                            {{status.name}}
                          </md-option>
                        </md-select>
                        <div ng-messages="costForm['status' + $index].$error" ng-if="costForm['status' + $index].$error">
                          <div ng-message="required" ng-if="costForm['status' + $index].$error.required">This is required!</div>
                        </div>                            
                      </md-input-container>
                      <md-input-container class="" >
                        <label>Pay Rate</label>
                        <md-icon md-svg-icon="dollar" class="email"></md-icon>
                        <input name="payRate{{$index}}" ng-required="true" ng-min="0" type="number" ng-model="app.data.personnel[$index].rate" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                         <div ng-messages="costForm['payRate' + $index].$error" ng-if="costForm['payRate' + $index].$error">
                            <div ng-message="required" ng-if="costForm['payRate' + $index].$error.required">This is required!</div>
                          </div>                         
                      </md-input-container> 
                      <md-input-container class="" >
                        <label>Personnel Count</label>
                        <input name="personCnt{{$index}}" ng-pattern="/^\d+$/" ng-required="true" ng-min="0" type="number" ng-model="app.data.personnel[$index].count" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                         <div ng-messages="costForm['personCnt' + $index].$error" ng-if="costForm['personCnt' + $index].$error">
                            <div ng-message="required" ng-if="costForm['personCnt' + $index].$error.required">This is required!</div>
                          </div>
                      </md-input-container>
                      <md-radio-group ng-model="app.data.personnel[$index].hourType" ng-if="app.data.personnel[$index].payType === 'Hourly'">
                        <md-radio-button value="additional">Additional Hours</md-radio-button>
                        <md-radio-button value="total">Total Hours</md-radio-button>
                      </md-radio-group>
                      <md-input-container class="" ng-if="app.data.personnel[$index].payType === 'Hourly'" >
                        <label>Hours</label>
                        <input name="hours{{$index}}" ng-pattern="/^\d+$/" ng-required="true" ng-min="0" type="number" ng-model="app.data.personnel[$index].hours" placeholder="" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">
                         <div ng-messages="costForm['hours' + $index].$error" ng-if="costForm['hours' + $index].$error">
                            <div ng-message="required" ng-if="costForm['hours' + $index].$error.required">This is required!</div>
                          </div>
                      </md-input-container>                      
                    </md-card-content>
                    <md-card-actions layout="row" layout-align="end center">
                      <md-button class="md-warn md-raised" ng-click="app.removePersonnel($index)" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">Remove</md-button>
                    </md-card-actions>
                  </div>
                </md-card>
                <md-button class="md-raised md-primary" ng-click="app.addPersonnel()" ng-disabled="(app.user.email != app.data.preparer) && !app.user.admin">Add</md-button>                
                <div layout="row" layout-wrap>
                  <md-button class="md-primary" type="button" ng-click="app.backTab()"><< Back</md-button>
                </div>
                </form>
              </md-content>
            </md-tab>
            <md-tab label="history" md-on-select="app.getHistory()">
              <md-content class="md-padding">
                <div ng-show="app.showFilter">
                  <div layout="row" layout-wrap>
                    <md-input-container class="md-block" >
                      <label>Program Area</label>
                      <md-select ng-model="app.filter.programArea" ng-change="app.getHistory()">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="program in app.programs | orderBy: 'name'" ng-value="program">
                          {{program.name}}
                        </md-option>
                      </md-select>
                    </md-input-container>
                    <md-input-container class="md-block" >
                      <label>Category of Service</label>
                      <md-select ng-model="app.filter.service" ng-change="app.getHistory()">
                        <md-option><em>None</em></md-option>
                        <md-option ng-repeat="service in app.services | orderBy: 'name'" ng-value="service">
                          {{service.name}}
                        </md-option>
                      </md-select>
                    </md-input-container> 

                    <md-input-container class="md-block">
                      <label>Starts After</label>
                      <md-datepicker ng-model="app.filter.from" name="dateField" md-hide-icons="calendar" ng-change="app.getHistory()"></md-datepicker>
                    </md-input-container>
                    <md-input-container class="md-block">
                      <label>Starts Before</label>
                      <md-datepicker ng-model="app.filter.to" name="dateField"  md-hide-icons="calendar" ng-change="app.getHistory()"></md-datepicker>
                    </md-input-container>                                                                                
                  </div>
                  <div layout="row" layout-wrap ng-show="app.showFilter">
                    <md-input-container class="md-block" style="min-width: 200px;">
                      <label>Title or Facility or Email Address</label>
                      <input ng-change="app.titleFilterChanged(app.filter.title)" ng-model="app.filter.title" placeholder="Contains this text"></input>
                    </md-input-container>              
                    <md-checkbox class="filter-check" layout="row" layout-wrap ng-model="app.filter.me" aria-label="Created by me" ng-change="app.getHistory()">
                      Created by me
                    </md-checkbox>

                  </div>
                </div>
                <md-button class="md-primary" type="button" ng-click="app.showFilter = !app.showFilter">{{app.showFilter ? 'Hide Filter' : 'Show Filter'}}</md-button>              
                <md-button class="md-primary" type="button" ng-click="app.exportCsv()">Export</md-button>
                <md-card class="history-card" ng-repeat="entry in app.history">
                 <md-toolbar layout-wrap ng-if="true">
                  <div layout="row" class="md-toolbar-tools">
                    <h3 ng-click="app.togglePersonnel(type, $index)">
                      {{entry.title}} at {{entry.facility}} ({{entry.start | date: 'M/d/yyyy'}})
                    </h3>
                    <span flex></span>
                    <md-button  ng-show="$mdMedia('gt-sm')" ng-if="app.user.admin" class="md-raised md-warn" ng-click="app.showConfirm($event, entry)">Delete</md-button>                       
                    <md-button ng-show="$mdMedia('gt-sm')" class="md-raised" ng-click="app.showCopyConfirm($event, entry)">Copy</md-button>                      
                    <md-button ng-show="app.showSelectButton(entry.start)" class="md-raised" ng-click="app.selectEntry(entry)">Select</md-button>
                    <md-menu ng-hide="$mdMedia('gt-sm')">
                      <md-button aria-label="Open actions menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                        <md-icon md-menu-origin md-svg-icon="more"></md-icon>
                      </md-button>
                      <md-menu-content>
                        <md-menu-item ng-if="app.user.admin || app.user.email === app.data.preparer">
                          <md-button ng-class="md-warn" ng-click="app.showConfirm($event, entry)" ng-if="app.user.admin">
                            Delete
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="app.copyEntry(entry)">
                            Copy
                          </md-button>
                        </md-menu-item>
                        <md-menu-item>
                          <md-button ng-click="app.selectEntry(entry)">
                            Select                              
                          </md-button>
                        </md-menu-item>
                      </md-menu-content>
                    </md-menu>
                  </div>
                </md-toolbar>              
                <md-card-title>
                  <md-card-title-text>
                    <div layout="row"  layout-wrap>
                      <md-input-container class="" >
                        <label>Program Area</label>
                        <br/>
                        <p>{{entry.programArea}}</p>
                      </md-input-container>
                      <md-input-container class="" >
                        <label>Category</label>
                        <br/>
                        <p>{{entry.category.name}}</p>
                      </md-input-container>                    
                      <md-input-container class="" >
                        <label>Submitted</label>
                        <br/>
                        <p>{{entry.submitted | date: 'short'}}</p>
                      </md-input-container>
                      <md-input-container class="" >
                        <label>Prepared By</label>
                        <br/>
                        <p>{{entry.preparer}}</p>
                      </md-input-container>                                              
                    </div>
                    <div layout="row"  layout-wrap>
                      <md-input-container class="" >
                        <label>Revenue Estimate</label>
                        <br/>
                        <p>{{entry.revenue | currency: '$'}}</p>
                      </md-input-container>
                      <md-input-container class="" >
                        <label>Cost Estimate</label>
                        <br/>
                        <p>{{entry.cost | currency: '$'}}</p>
                      </md-input-container>
                      <md-input-container class="" >
                        <label>Cost Recovery (Target)</label>
                        <br/>
                        <p>{{(entry.recoveryTarget * 100).toFixed(0)}}%</p>
                      </md-input-container>
                      <md-input-container class="" >
                        <label>Cost Recovery (Projected)</label>
                        <br/>
                        <p>{{(entry.recoveryProjected * 100).toFixed(0)}}%</p>
                      </md-input-container>                                                             
                    </div>                    
                    <md-button class="md-raised" ng-class="{'md-warn': entry.needsReview, 'md-primary': !entry.needsReview}">{{entry.needsReview ? 'Needs Review' : 'Proceed'}}</md-button>
                  </md-card-title-text>
                </md-card-title>
              </md-card>                                             
            </md-list>
          </md-content>
        </md-tab>                        
      </md-tabs>
  </md-content>
</div>