<div flex layout="row" layout-align="center center" ng-controller="ResetController as reset">
	<form class="user-form" ng-submit="reset.reset(reset.credentials)">
		<md-input-container class="md-block" >
			<label>Email</label>
			<input type="email" ng-required="true" ng-model="reset.credentials.email" placeholder="Enter your email address">
		</md-input-container>
		<md-input-container class="md-block" >
			<label>Password</label>
			<input type="password" ng-required="true" ng-model="reset.credentials.password" >
		</md-input-container>
		<md-button type="submit" class="md-primary md-raised">reset</md-button>
	</form>
</div>