<div flex layout="row" layout-align="center center" ng-controller="SignupController as signup">
	<form class="user-form" ng-submit="signup.signup(signup.credentials)" novalidate>
		<md-input-container class="md-block" >
			<label>Email</label>
			<input type="email" name="email" ng-required="true" ng-model="signup.credentials.email">
		</md-input-container>
		<md-input-container class="md-block" >
			<label>Password</label>
			<input type="password" ng-required="true" ng-model="signup.credentials.password" >
		</md-input-container>
		<md-button type="submit" class="md-primary md-raised" ng-click="expression">sign up</md-button>
		<br/>
		<span>Aleady have an account?</span>
		<md-button class="md-primary" href="#/login">login</md-button>
	</form>
</div>